rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      function isAuthenticated() {
        return request.auth != null;
      }
      // function isUserAuthenticated(userId) {
      //   return request.auth != null && userId == request.auth.uid;
      // }

      match /rooms/{roomId} {
        function isValidRoom(room) {
          return room.size() == 3
            && 'name' in room && room.name is string
            && room.name.size() >= 1 && room.name.size() <= 20
            && 'displayName' in room && room.displayName is string
            && room.displayName.size() >= 1 && room.displayName.size() <= 20
            && 'members' in room && room.members is map
        }
        allow read: if isAuthenticated();
        // TODO: ログインかつ emailVerified
        allow create: if isAuthenticated() && isValidRoom(request.resource.data);
        // allow update: if isUserAuthenticated(userId) && isValidMemo(request.resource.data);
        // allow delete: if isUserAuthenticated(userId);
      }
    }
  }
}